@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

html,
body {
  background-color: #ddd;
}

header {
  background-color: #4d41c0;
  color: #fff;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

a,
a:hover {
  color: unset;
  text-decoration: none;
}

.dsmovie-card {
  width: 100%;
}

#dsmovie-cardlist {
  padding: 40px 10px;
}

.dsmovie-card img {
  width: 100%;
  border-radius: 8px 8px 0 0;
}
.dsmovie-card-descripition {
  background-color: #fff;
  border-radius: 20px 20px 8px 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  color: #4a4a4a;
  padding: 10px 0 20px 0;
  height: 190px;
}

.dsmovie-card-descripition h3 {
  text-align: center;
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 700;
}

.dsmovie-card-description-bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.dsmovie-card-description-bottom img {
  width: 22px;
}
.dsmovie-card-description-bottom h4 {
  color: #ffbb4a;
  font-size: 16px;
  font-weight: 700;
}
.dsmovie-card-description-bottom p {
  color: #aaaaaa;
  font-size: 12px;
  font-weight: 400;
  margin-bottom: 10px;
}

.dsmovie-btn,
.dsmovie-btn:hover {
  height: 40px;
  width: 180px;
  background-color: #4d41c0;
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  border: 0;
}

.dsmovie-form-container {
  padding: 40px 0;
  max-width: 480px;
}
.dsmovie-form-description {
  background-color: #fff;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 0 0 8px 8px;
}

.dsmovie-form-description h3 {
  font-size: 12px;
  font-weight: 700;
  margin-bottom: 20px;
}
.dsmovie-form {
  width: 100%;
}

.dsmovie-form-btn-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100px;
  justify-content: space-between;
}

.dsmovie-form-group {
  margin-bottom: 20px;
}

.dsmovie-form-group label {
  font-size: 12px;
  color: #aaaaaa;
}
