@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

html,
body {
  background-color: #ddd;
}

header {
  background-color: #4d41c0;
  color: #fff;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

a,
a:hover {
  color: unset;
  text-decoration: none;
}

.dsmovie-card {
  width: 100%;
}

#dsmovie-cardlist {
  padding: 40px 0px;
}

.dsmovie-card img {
  width: 100%;
  border-radius: 8px 8px 0 0;
}
.dsmovie-card-descripition {
  background-color: #fff;
  border-radius: 20px 20px 8px 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  color: #4a4a4a;
  padding: 10px 0 20px 0;
  min-height: 150px;
}

.dsmovie-card-descripition h3 {
  text-align: center;
  margin-bottom: 25px;
  font-size: 14px;
  font-weight: 700;
}

.dsmovie-btn,
.dsmovie-btn:hover {
  height: 40px;
  width: 180px;
  background-color: #4d41c0;
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}

.dsmovie-form-container {
  padding: 40px 0;
  max-width: 480px;
}
